<!DOCTYPE html>
<html>
<head>
  <title>coupon</title>
  <!-- linking to the css -->
  <link rel="stylesheet" href="css/main.css">
  <!-- linking to the bootstrap css -->
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-inverse">
<div class="text-center" id="pritam">

<a href="#/" class="text-primary" id="one">Home</a>
<a href="#/about" class="text-success" id="two">Coupon</a>
<a href="#/cantact" class="text-danger" id="three">Contact</a>
</div>
  
</nav>

<div class="container">

<h1 class="text-center text-primary">Enter the code to get the 20% discount.</h1><br><br>
<div class="row">
  <div class="col-md-6">
  <img src="img/chicken.jpg" class="img-responsive center-block" width="300px" height="300px" id="coupen"><br><br>
  <div>
  <p class="text-center text-success">This is the Code<code>AHDERF123</code></p>
  </div>
  </div>
  <div class="col-md-6">
  <img src="img/ton.jpg" height="500px" width="300px" class="img-responsive center-block" id="coupen"><br><br>
  <div>
  <p class="text-center text-success">This is the code<code>ABHDM456</code><br><br>
  </p>
  </p>
</div>
</div><!--this is for container-->
<!-- this is the use of the jquery library -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <!-- linking the bootstrap -->
  <script src="js/bootstrap.js"></script>
  <!-- linking the javascript file -->
  <script src="js/main.js"></script>

</body>
</html>