<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>
<head>
  <title>Contact us</title>
  <!-- linking to the css -->
  <link rel="stylesheet" href="css/main.css">
  <!-- linking to the bootstrap css -->
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

<nav class="navbar navbar-inverse">
<div class="text-center" id="pritam">

<a href="#/" class="text-primary" id="one">Home</a>
<a href="#/about" class="text-success" id="two">Coupon</a>
<a href="#/cantact" class="text-danger" id="three">Contact</a>
</div>
  
</nav>
 <div class="container">
 <br><br><br><br><br>
  <h1 class="text-danger text-center">This is the important information of our restaurent.</h1>
  <h2 class="text-primary text-center">If you need more information about our restaurent call this  no:<code>650455667678</code></h2>
  <h3 class="text-success text-center">Fax this no:<code>23457489736</code></h3>
  <h4 class="text-info text-center">Inbox email on this email address:<code>himalayanmitho@hotmail.com</code></h4>

 </div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <!-- linking the bootstrap -->
  <script src="js/bootstrap.js"></script>
  <!-- linking the javascript file -->
  <script src="js/main.js"></script>
</body>
</html>


  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <!-- linking the bootstrap -->
  <script src="js/bootstrap.js"></script>
  <!-- linking the javascript file -->
  <script src="js/main.js"></script>
</body>
</html>