<!DOCTYPE html>
<html>
<head>
	<title>momo</title>
	 
	  
	  <link rel="stylesheet" href="css/main.css">
	  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

<nav class="navbar navbar-inverse">
<div class="text-center" id="pritam">

<a href="#/" class="text-primary" id="one">Home</a>
<a href="#/about" class="text-success" id="two">Coupon</a>
<a href="#/cantact" class="text-danger" id="three">Contact</a>
</div>
  
</nav><div class="container">
<h1 class="text-center text-primary">This is the different kind of momo.</h1>
<div class="row">
 <div class="col-md-6">
 <h1 id="head" class="text-center">Kavreli momo</h1>
 <p  id="paragraph" class="text-center">$9.99 per plate</p>
 
  <img src="img/momo1.jpg" class="img-responsive img-thumbnail center-block" width="300px" height="300px" id="momo">
 </div>
 <div class="col-md-6">
  <h1 id="head" class="text-center">Chokali momo</h1>
  <p  id="paragraph" class="text-center">$10.99 per plate</p>
 
  <img src="img/momo2.jpg" class="img-responsive img-thumbnail center-block" width="300px" height="300px" id="momo">
 </div>
</div>
<div class="row">

 <div class="col-md-6">
  <h1 id="head" class="text-center">Pokherali momo</h1>
  <p  id="paragraph" class="text-center">$7.99 per plate</p>
 
  <img src="img/momo3.jpg" class="img-responsive img-thumbnail center-block" width="300px" height="300px" id="momo">
 </div>
 <div class="col-md-6">
  <h1 id="head" class="text-center">Hamro momo</h1>
  <p  id="paragraph" class="text-center">$12.99 per plate</p>
 
  <img src="img/momo4.jpg" class="img-responsive img-thumbnail center-block" width="300px" height="300px" id="momo">
 </div>
</div>
</div>




  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <!-- linking the bootstrap -->
  <script src="js/bootstrap.js"></script>
  <!-- linking the javascript file -->
  <script src="js/main.js"></script>
</body>
</html>